{% extends "Shared/layout.html.jinja" %}

{% block content %}
<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <p class="lead">This is the home page of the Web Template project</p>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
