{% extends "Shared/layout.html.jinja" %}

{% block content %}
<div class="text-center">
  <h1 class="display-4">Bienvenido</h1>
  <p class="lead">Esta es la página de inicio del proyecto Web Template</p>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
